.agendaContainer {
  background-color: $umaans-beige;
  color: $umaans-green;
  height: 30vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 20% 70%;
  padding-top: 2%;
  // margin: 8% 0;
  &_titlePage {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 25%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    // background-color: greenyellow;
  }
  &_events {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    // border: 3px solid red;
    justify-content: space-between;
    height: auto;
    margin-right: 10%;
    &_eventOne {
      // background-color: lightcoral;
      width: 42%;
    }
    &_eventTwo {
      // grid-column: 2/3;
      // grid-row: 2/3;
      width: 42%;

      // background-color: lightblue;
    }
  }
}
